In [175]:
import numpy as np
import pandas as pd

In [176]:

c = np.asarray([1, 1, 1], dtype=np.float16) * 1/3
b = np.asarray([4, 4, 4, 4], dtype=np.float16) * 1/3
a = np.asarray([1, 1, 1], dtype=np.float16) * 1/3
d = np.asarray([5, 6, 6, 5], dtype=np.float16) * 1/3
def alg(c, b, a, d, n):
    alp = np.zeros(n, dtype=np.float16)
    bet = np.zeros(n, dtype=np.float16)
    x = np.zeros(n, dtype=np.float16)
    y = np.zeros(n, dtype=np.float16)
    y[0] = b[0]
    if b[0] == 0:
        return
    alp[0] = -c[0]/y[0]
    bet[0] = d[0]/y[0]
    for i in range(1, n-1):
        y[i] = b[i] + a[i-1]*alp[i-1]
        if y[i] == 0:
            return
        alp[i] = -c[i]/y[i]
        bet[i] = (d[i] - a[i-1]*bet[i-1])/y[i]
    y[n - 1] = b[n - 1] + a[n - 2]*alp[n - 2]
    if y[n-1] == 0:
        return
    bet[n-1] = (d[n-1] - a[n-2]*bet[n-2])/y[n-1]
    x[n-1] = bet[n-1]
    for i in range(n-2, -1, -1):
        x[i] = alp[i]*x[i+1] + bet[i]
    return x

# print(alg(c, b, a, d, 4))

In [177]:
p = 5
q = -4
a = np.exp(0)
b = np.exp(1)

In [178]:
n = 10
h = 1 / n
X = np.asarray([i*h for i in range(n+1)])
A = np.zeros(n-2)
B = np.zeros(n -1)
C = np.zeros(n-2)
D = np.zeros(n - 1)
for i in range(n-2):
    A[i] = 1 - h / 2 * p
    C[i] = 1 + h / 2 * p
for i in range(n-1):
    B[i] = h**2*q-2
for i in range(n-1):
    D[i] = h**2*2*np.exp(X[i])
D[0] -= a * (1 - h / 2 * p)
D[-1] -= b * (1 + h / 2 * p)
Y = alg(C, B, A, D, len(D))

In [179]:
Y = np.concatenate((np.asarray([a]), Y))
Y = np.append(Y, b)
data = pd.DataFrame({
    "x": X,
    "y": np.exp(X),
    "y'": Y,
    "|y - y'|": np.abs(np.exp(X) - Y)
})
data

      x         y        y'  |y - y'|
0   0.0  1.000000  1.000000  0.000000
1   0.1  1.105171  1.121094  0.015923
2   0.2  1.221403  1.245117  0.023714
3   0.3  1.349859  1.376953  0.027094
4   0.4  1.491825  1.519531  0.027707
5   0.5  1.648721  1.674805  0.026083
6   0.6  1.822119  1.844727  0.022608
7   0.7  2.013753  2.033203  0.019450
8   0.8  2.225541  2.240234  0.014693
9   0.9  2.459603  2.466797  0.007194
10  1.0  2.718282  2.718282  0.000000