In [21]:
import numpy as np
import pandas as pd

In [22]:

c = np.asarray([1, 1, 1], dtype=np.float16) * 1/3
b = np.asarray([4, 4, 4, 4], dtype=np.float16) * 1/3
a = np.asarray([1, 1, 1], dtype=np.float16) * 1/3
d = np.asarray([5, 6, 6, 5], dtype=np.float16) * 1/3
def alg(c, b, a, d, n):
    alp = np.zeros(n, dtype=np.float16)
    bet = np.zeros(n, dtype=np.float16)
    x = np.zeros(n, dtype=np.float16)
    y = np.zeros(n, dtype=np.float16)
    y[0] = b[0]
    if b[0] == 0:
        return
    alp[0] = -c[0]/y[0]
    bet[0] = d[0]/y[0]
    for i in range(1, n-1):
        y[i] = b[i] + a[i-1]*alp[i-1]
        if y[i] == 0:
            return
        alp[i] = -c[i]/y[i]
        bet[i] = (d[i] - a[i-1]*bet[i-1])/y[i]
    y[n - 1] = b[n - 1] + a[n - 2]*alp[n - 2]
    if y[n-1] == 0:
        return
    bet[n-1] = (d[n-1] - a[n-2]*bet[n-2])/y[n-1]
    x[n-1] = bet[n-1]
    for i in range(n-2, -1, -1):
        x[i] = alp[i]*x[i+1] + bet[i]
    return x

# print(alg(c, b, a, d, 4))

In [23]:
def yr(x):
    return -0.999375 + 0.999375 * np.exp(4*x) - 0.4375*x - 0.375*x**2 - 0.5*x**3
p = -4
q = 0
a = 0
b = yr(1)
def f(x):
    return 6*x**2+1

In [24]:
n = 10
h = 1 / n
X = np.asarray([i*h for i in range(n+1)])
A = np.zeros(n-2)
B = np.zeros(n -1)
C = np.zeros(n-2)
D = np.zeros(n - 1)
for i in range(n-2):
    A[i] = 1 - h / 2 * p
    C[i] = 1 + h / 2 * p
for i in range(n-1):
    B[i] = h**2*q-2
for i in range(n-1):
    D[i] = h**2*yr(X[i])
D[0] -= a * (1 - h / 2 * p)
D[-1] -= b * (1 + h / 2 * p)
Y = alg(C, B, A, D, len(D))

In [25]:
Y = np.concatenate((np.asarray([a]), Y))
Y = np.append(Y, b)
data = pd.DataFrame({
    "x": X,
    "y": yr(X),
    "y'": Y,
    "|y - y'|": np.abs(yr(X) - Y)
})
data

      x          y         y'  |y - y'|
0   0.0   0.000000   0.000000  0.000000
1   0.1   0.443517   0.428467  0.015051
2   0.2   1.118275   1.071289  0.046986
3   0.3   2.140167   2.041016  0.099151
4   0.4   3.683562   3.505859  0.177702
5   0.5   6.010063   5.734375  0.275688
6   0.6   9.511412   9.117188  0.394224
7   0.7  14.773494  14.273438  0.500056
8   0.8  22.671822  22.125000  0.546822
9   0.9  34.513986  34.062500  0.451486
10  1.0  52.252151  52.252151  0.000000